/* CSS reset */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", "sans-serif";
    background-color: #1B1A17;
    padding: 15px;
    height: 100vh;
}

/* Styling the reusable parts */
.container{
    max-width: 800px;
    width: 100%;
    background-color: #F0A500;
    padding: 30px;
}

/* Using the flex */
body, .user-details, .category, .category label{
    display: flex;
}

body, .category label{
    align-items: center;
}

body{
    justify-content: center;
}

.user-details{
    flex-wrap: wrap;
    padding: 30px 0;
}

.user-details, .category{
    justify-content: space-between;
}

/* Styling the common fields */
.container, .input-box input, .button input{
    border-radius: 5px;
}

/* Styling the title */
.title{
    position: relative;
}

.title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 35px;
    background-color: #E6D5B8;
}