/* CSS reset */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", "sans-serif";
    background-color: #1B1A17;
    padding: 15px;
    height: 100vh;
}

/* Styling the reusable parts */
.container{
    max-width: 800px;
    width: 100%;
    background-color: #F0A500;
    padding: 30px;
}

/* Using the flex */
body, .user-details, .category, .category label{
    display: flex;
}

body, .category label{
    align-items: center;
}

body{
    justify-content: center;
}

.user-details{
    flex-wrap: wrap;
    padding: 30px 0;
}

.user-details, .category{
    justify-content: space-between;
}

/* Styling the common fields */
.container, .input-box input, .button input{
    border-radius: 5px;
}

/* Styling the title */
.title{
    position: relative;
}

.title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 35px;
    background-color: #E6D5B8;
}

/* Styling the input fields and their containers */
.input-box{
    width: calc(100% / 2 - 25px);
    margin-bottom: 30px;
}

.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.input-box input{
    width: 100%;
    height: 45px;
    padding-left: 15px;
    outline: none;
    border: 1px solid #E6D5B8;
    border-bottom-width: 2px;
    font-size: 14px;
}

.input-box input, .button input{
    transition: all 0.3 ease;
}

.input-box input:hover, .input-box input:focus, .input-box:valid{
    border-color: #1B1A17;
}

/* Styling the second part of input fields */
.gender-title{
    font-size: 20px;
    font-weight: 500;
}

.category{
    width: 80%;
    padding-top: 15px;
}

.category label{
    cursor: pointer;
}

.dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #fff;
    margin-right: 10px;
    border: 1px solid transparent;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
   background: #E45826;
   border-color: #d9d9d9;
}

form input[type="radio"]{
   display: none;
}